/*        RESET        */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*         COLORS           */
$primary-black: rgb(25, 28, 26);
$primary-grey: rgb(248, 250, 249);
$primary-green: rgb(86, 206, 138_);
$primary-white: rgb(255, 255, 255);

$secondary-grey: rgb(101, 109, 105) ;

body {
    font-family: "Lato", sans-serif;
    background: $primary-white;
}